.search-page {
  margin-top: 70px;
  height: 77vh;
  padding: 2rem;
  background-color: var(--primary-bg);
  color: var(--font-color);
}

.search-page a {
  color: white;
}

.search-input {
  padding: 20px;
  width: 1200px;
  margin: 1rem auto 60px auto;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  border: none;
  color: var(--font-color);
  font-size: 1rem;
  display: block;
}

.song-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.song-card {
  background: var(--primary-accent);
  border-radius: .5rem;
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.2s, background 0.3s;
  position: relative;
}

.song-card:hover {
  transform: scale(1.03);
  background: var(--secondary-accent);
}

/* Cover container that forces a square shape */
.cover {
  width: 40px;
  padding-bottom: 40px; /* Ensures aspect ratio 1:1 */
  position: relative;
  overflow: hidden;
  border-radius: 0.75rem;
  flex-shrink: 0;
}

/* Cover image that will take full width and height of the square */
.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure the image maintains aspect ratio and fills the container */
}

/* Placeholder for missing images */
.cover-placeholder {
  height: 100%;
  background: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
}


.song-info {
  margin-bottom: 1.5rem;
}

.song-info h3 {
  color: white;
  margin: 0.5rem 0 0.25rem;
}

.song-info p {
  font-size: 0.9rem;
  color: white;
  margin: 0.2rem 0;
}

.song-actions {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin: 0;
  padding: 0;
}

.like-button, .play-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  color: white !important;
}

.song-info .album,
.song-info .genre {
  font-size: 0.9rem;
  color: white;
  margin: 0.2rem 0;
}

.song-info p:last-child {
  margin-bottom: 1rem;
}

.genre {
  font-size: 0.9rem;
  color: white;
  margin: 0.2rem 0;
  cursor: pointer;
  text-decoration: underline;
}