.search-page {
    padding: 2rem;
    color: var(--font-color);
  }
  
  .search-input {
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid #444;
  background-color: #1e1e1e;
  color: var(--font-color);
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: block;
}


 .song-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.song-card {
  background: var(--secondary-bg);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: transform 0.2s, background 0.3s;
}

.song-card:hover {
  transform: scale(1.03);
  background: #292929;
}

  
  .cover-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  
  .cover-placeholder {
    height: 180px;
    background: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
  }
  
  .song-info h3 {
    margin: 0.5rem 0 0.25rem;
  }
  
  .song-info p {
    font-size: 0.9rem;
    color: var(--font-color-compliment);
  }
  .song-info audio {
  width: 100%;
  margin-top: 1rem;
}
